{% assign date_format = site.date_format | default: "%Y年%-m月%-d日" %}
{%- comment -%}
设置日期格式为中文，例如 “2025年11月8日”
如果 _config.yml 中定义了 date_format，则优先使用。
{%- endcomment -%}

{% if page.cover-img %}
  <div id="header-big-imgs" data-num-img={% if page.cover-img.first %}{{ page.cover-img.size }}{% else %}1{% endif %}
    {%- comment -%}
    如果页面设置了封面图（cover-img），则为每张图片生成 data 属性。
    支持多张封面图的循环加载。
    {%- endcomment -%}
    {% for bigimg in page.cover-img %}
    {% assign imgnum = forloop.index %}
    {% for imginfo in bigimg %}
    {% if imginfo[0] %}
      data-img-src-{{ imgnum }}="{{ imginfo[0] | absolute_url }}"
      data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
    {% else %}
      data-img-src-{{ imgnum }}="{{ imginfo | absolute_url }}"
    {% endif %}
    {% endfor %}
    {% endfor %}
  ></div>
{% endif %}

<header class="header-section {% if page.cover-img %}has-img{% endif %}">
  <div class="intro-header {% if page.cover-img %} big-img {% endif %}">
    {% if page.cover-img or page.title %}
    <div class="container-md">
      <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
          <div class="{{ include.type }}-heading">

            <!-- 页面标题 -->
            <h1>{% if page.title %}{{ page.title | strip_html }}{% else %}<br/>{% endif %}</h1>

            <!-- 副标题 -->
            {% if page.subtitle %}
              {% if include.type == "page" %}
                <hr class="small">
                <span class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</span>
              {% else %}
                <h2 class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</h2>
              {% endif %}
            {% endif %}
            
            {% if include.type == "post" %}
              <!-- 仅在文章页面显示元数据 -->
              
              <!-- 作者 -->
              {% if page.author %}
                <p><strong>作者：</strong>{{ page.author | strip_html }}</p>
              {% endif %}

              <!-- 发布时间 -->
              <p><strong>发布于：</strong>{{ page.date | date: date_format }}</p>

              <!-- 更新时间 -->
              {% if page.last-updated %}
                <p><strong>更新于：</strong>{{ page.last-updated | date: date_format }}</p>
              {% else %}
                <p><strong>更新于：</strong>暂无更新</p>
              {% endif %}

              <!-- 阅读时间 -->
              {% if page.readtime %}
                <p><strong>阅读时间：</strong>{{ page.readtime }}分钟</p>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- 如果有封面图片，则显示图片描述（可在 front matter 中定义） -->
    {% if page.cover-img %}<span class='img-desc'>{{ page.cover-img-desc }}</span>{% endif %}
  </div>

  <!-- 页面额外头部扩展，可自定义 include 文件 -->
  {% if page.header-extra %}
    {% for file in page.header-extra %}
      {% include {{ file }} %}
    {% endfor %}
  {% endif %}
</header>
