{% assign date_format = site.date_format | default: "%Y年%-m月%-d日" %}
{%- comment -%}
设置日期格式为中文，例如 “2025年11月8日”
如果 _config.yml 中定义了 date_format，则优先使用。
{%- endcomment -%}

{% if page.cover-img %}
  <div id="header-big-imgs" data-num-img={% if page.cover-img.first %}{{ page.cover-img.size }}{% else %}1{% endif %}
    {%- comment -%}
    如果页面设置了封面图（cover-img），则为每张图片生成 data 属性。
    支持多张封面图的循环加载。
    {%- endcomment -%}
    {% for bigimg in page.cover-img %}
    {% assign imgnum = forloop.index %}
    {% for imginfo in bigimg %}
    {% if imginfo[0] %}
      data-img-src-{{ imgnum }}="{{ imginfo[0] | absolute_url }}"
      data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
    {% else %}
      data-img-src-{{ imgnum }}="{{ imginfo | absolute_url }}"
    {% endif %}
    {% endfor %}
    {% endfor %}
  ></div>
{% endif %}

