---
layout: base
---

<!-- 引入页面头部 -->
{% include header.html type="post" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">

      <!-- 如果文章有 GitHub 仓库链接，显示 GitHub 按钮 -->
      {% if page.gh-repo %}
        {% assign gh_split =  page.gh-repo | split:'/' %}
        {% assign gh_user =  gh_split[0] %}
        {% assign gh_repo =  gh_split[1] %}

        <div id="header-gh-btns">
          {% if page.gh-badge.size > 0 %}
            {% for badge in page.gh-badge %}
              {% case badge %}
                {% when 'star' %}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=star&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'watch' %}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=watch&v=2&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'fork' %}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=fork&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'follow' %}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&type=follow&count=true" frameborder="0" scrolling="0" width="220px" height="20px"></iframe>
              {% endcase %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      <!-- 如果文章有内容前置部分，显示该内容 -->
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      <!-- 显示文章内容 -->
      <div class="blog-post">
        {{ content }}
      </div>

      <!-- 显示标签，如果有的话 -->
      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          <span>标签:</span>
          {% for tag in page.tags %}
            <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
          {% endfor %}
        </div>
      {% endif %}

      <!-- 如果文章有内容后置部分，显示该内容 -->
      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      <!-- 显示社交分享按钮 -->
      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}

      <!-- 显示分页，上一篇和下一篇 -->
      <ul class="pagination blog-pager">
        {% if page.previous.url %}
        <li class="page-item previous">
          <a class="page-link" href="{{ page.previous.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title | strip_html | xml_escape}}">
            <i class="fas fa-arrow-left" alt="上一篇"></i>
            <span class="d-none d-sm-inline-block">上一篇</span>
          </a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="page-item next">
          <a class="page-link" href="{{ page.next.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title | strip_html | xml_escape}}">
            <span class="d-none d-sm-inline-block">下一篇</span>
            <i class="fas fa-arrow-right" alt="下一篇"></i>
          </a>
        </li>
        {% endif %}
      </ul>

      <!-- 显示评论部分 -->
      {% include comments.html %}
    </div>
  </div>
</main>

<!-- 文章发布时间，格式化为中文 -->
<div class="post-meta">
  <p>发布于: {{ page.date | date: "%Y年%m月%d日" }}</p>
</div>
